

.mainnav
{
    position: absolute;
    border: 1px solid black;
    border-radius: 8px;
    width:70.5%;
    height: 38px;
    margin-top: -4%;
    margin-left: -14%;
    box-shadow: rgb(38, 57, 77) 0px 5px 30px 2px;
}

.Home
{
    position: absolute;
    color: black;
    margin-left: 35px;
}

.booking
{
    position: absolute;
    color: black;
    margin-left: 135px;
}

.applist
{
    position: absolute;
    color: black;
    margin-left: 355px;
}
